<% content_for :title do %>The {code} Team's metrics dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='https://twitter.com/codedellemc';">
        <div data-id="twitter_user_tweets" data-view="Number" data-title="Tweets" style="background-color: #00aced"></div>
      <i class="fa fa-twitter icon-background"><a href="https://twitter.com/codedellemc"></a></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='https://twitter.com/codedellemc';">
      <div data-id="twitter_user_followers" data-view="Number" data-title="Twitter Followers" style="background-color: #00aced"></div>
      <i class="fa fa-twitter icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="google_calendar" data-view="GoogleCalendar" style="background-color: #00B5D6"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wordpress_total_views" data-view="Number" data-unordered="true" data-title="Wordpress views" style="background-color: #21759b"></div>
      <i class="fa fa-wordpress icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="wordpress_posts_views" data-view="List" data-unordered="true" data-title="Popular blog posts" style="background-color: #21759b"></div>
      <i class="fa fa-wordpress icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='https://github.com/codedellemc';">
      <div data-id="github_user_repos_watchers" data-view="List" data-unordered="true" data-title="GitHub Watchers" style="background-color: #4183C5"></div>
      <i class="fa fa-github icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='https://github.com/codedellemc';">
      <div data-id="github_user_repos_forks" data-view="List" data-unordered="true" data-title="GitHub Forks" style="background-color: #4183C5"></div>
      <i class="fa fa-github icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="location.href='https://github.com/codedellemc';">
      <div data-id="github_user_repos_issues" data-view="List" data-unordered="true" data-title="GitHub Issues" style="background-color: #4183C5"></div>
      <i class="fa fa-github icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="constant_contact_subscribers" data-view="Number" data-unordered="true" data-title="Email subscribers" style="background-color: #47bbb3"></div>
      <i class="fa fa-envelope icon-background"></i>
    </li>
    <li data-row="1" data-col="2" data-sizex="4" data-sizey="1" onclick="location.href='https://www.youtube.com/playlist?list=PLbssOJyyvHuWiBQAg9EFWH570timj2fxt';">
      <div data-id="youtube_video_views" data-view="List" data-unordered="true" data-title="Popular YouTube videos" style="background-color: #c0392b"></div>
      <i class="fa fa-youtube icon-background"></i>
    </li>
<!--
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" onclick="location.href='https://hub.docker.com/u/codedellemc/';">
      <div data-id="docker_hub_stars" data-view="List" data-unordered="true" data-title="Docker stars" style="background-color: #9b59b6"></div>
      <i class="fa fa-star icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1" onclick="location.href='https://hub.docker.com/u/codedellemc/';">
      <div data-id="docker_hub_pulls" data-view="List" data-unordered="true" data-title="Docker pulls" style="background-color: #9b59b6"></div>
      <i class="fa fa-download icon-background"></i>
    </li>
    <li data-row="1" data-col="2" data-sizex="4" data-sizey="2" onclick="location.href='http://stackoverflow.com/questions/tagged/emc';">
      <div data-id="so_questions" data-view="List" data-unordered="true" data-title="StackOverflow Questions" style="background-color: #e67e22" data-moreinfo="# of answers"></div>
      <i class="fa fa-stack-overflow icon-background"></i>
    </li>
-->
  </ul>
</div>
<!--
<div class="mr-space" id="mr-space_emc-code-text-16x9" data-space-id="emc/emc-code-text-16x9" style="min-height: 640px;"></div>
<script>!function(a,b,c,d,e,f,g,h,i,j,k){h=a[d]=a[d]||{},h.ui=h.ui||[],i=a[e]=a[e]||{},i[f]||(j=b.getElementsByTagName(c)[0],k=b.createElement(c),k.src="//platform.massrelevance.com/js/massrel.js",j.parentNode.insertBefore(k,j),i[f]=function(){h.ui.push([].slice.call(arguments))}),i[f]("load",{el:b.getElementById(g)})}(window,document,"script","massrel","spredfast","exp","mr-space_emc-code-text-16x9");</script>
-->
